*.swp
.project
.cproject
.settings
Debug
*.m
*.pyc
*.ipynb_checkpoints/
*.so
cpp/build/
cpp/dlib/build/
cpp/standalone_build/
# cpp/dlib/
# python
# cpp/doc/
*.idea
matlab
data_for_test/
cmake-build-debug
*.out
cpp/configure.sh
cpp/build.sh
tools/
python/test_*/
python/venv/
python/project-nice
python/debug/
*.json
