*.swp
.project
.cproject
.settings
Debug
*.m
cpp/build/
cpp/dlib/build/
cpp/standalone_build
# cpp/dlib/
# python
# cpp/doc/
.idea
matlab
data_for_test/
cmake-build-debug
*.out
cpp/configure.sh
cpp/configure.sh
cpp/configure.sh
